$Grey-color: #c8ccd0;
$White-color: #fff;
$Light-Blue: #C7D0D7CC;
$Cadet-Blue: #9daab2;
$Slate-Gray: #939DA6CC;
$Ash-Gray: #a1a7ad;
$Midnight-Blue: #010005;
$Dark-Blue: #0A1621FF;
$Gunmetal-Blue: #1F3142F4;
$Steel-Blue: #40659DF2;
$Dark-Imperial-Blue: #0D2952F2;
$Dodger-Blue: #0663EEF2;